<div class="container p-5">
  <div class="row">
    <div class="col-md-5 mb-3">
      <h1>Registro datos consulta</h1>
      <label>Estado de consulta</label>
      <select [(ngModel)]="estado_elegido" class="form-select" aria-label="Default select example">
        <option [value]="estadoConsulta.id_estado_consulta" *ngFor="let estadoConsulta of listadoEstados">{{estadoConsulta.nombre}}</option>
      </select>
      <div class="form-group mt-5">
        <label for="exampleFormControlTextarea1">Descripcion de la consulta</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="15"
          [(ngModel)]="descripcion_consulta"
        ></textarea>
      </div>
      <button class="btn btn-info" (click)="registrarCambios()">Registrar</button>
    </div>
    <div class="col-md-7">
      <div style="overflow: scroll; height: 250px;">
        <table class="table" >
          <thead class="table-info">
            <tr>
              <th>Titulo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let receta of listadoRecetas"
            >
              <td>{{ receta.titulo }}</td>
              <td><button class="btn btn-danger" (click)="eliminarReceta(receta.id_receta)">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
        <div class="container">
            <button class="btn btn-info mt-1" [routerLink]="['/receta-consulta/'+idConsulta]">Agregar nueva receta</button>
        </div>
        <div style="overflow: scroll; height: 250px;">
          <table class="table">
            <thead class="table-info">
              <tr>
                <th>Titulo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let ordenLaboratorio of listadoOrdenLaboratorio"
              >
                <td>Orden {{ ordenLaboratorio.id_orden_laboratorio }}</td>
                <td><button class="btn btn-danger" (click)="eliminarOrdenLaboratorio(ordenLaboratorio.id_orden_laboratorio)">Eliminar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="container">
            <button class="btn btn-info mt-1" [routerLink]="['/llenar-datos-consulta/orden-laboratorio/'+idConsulta]">Solicitar nueva laboratorio</button>
        </div>
    </div>
    <hr>
    <div class="container d-flex align-items-center justify-content-center">
        <button [routerLink]="['/llenar-datos-consulta/registrar-traspaso/'+idConsulta]" class="btn btn-info mt-5">Llenar hoja de traspaso</button>
        <!-- <button  class="btn btn-info mx-5 mt-5">Ver hoja de traspaso</button> -->
    </div>
    <div style="overflow: scroll; height: 250px;">
      <table class="table" >
        <thead class="table-info">
          <tr>
            <th>Titulo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let hojasTraspasos of listadoTraspasos"
          >
            <td>Hoja traspaso {{ hojasTraspasos.id_hoja_traspaso }}</td>
            <td><button class="btn btn-danger" (click)="eliminarHojaTraspaso(hojasTraspasos.id_hoja_traspaso)">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
