<div class="container center pt-5">
    <h1>Menu admnistrador</h1>
    <table>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/reservas_menu.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Listado de traspasos</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a [routerLink]="['/adm/listado-traspasos']" class="btn btn-info">Ver traspasos</a>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img src="https://www.flowww.net/hubfs/Sandra/01noviembre2017/top-10-tips-para-recepcionistas-centro-estetica.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Verificar consultas reservadas</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a [routerLink]="['/adm/listado-reserva']" class="btn btn-info">Ver reservas</a>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/reservar_consulta.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Registrar Reservar</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a [routerLink]="['/adm/registrar-reserva']" class="btn btn-info">Registrar reservas</a>
                    </div>
                  </div>
            </td>
        </tr>
    </table>
</div>