<div class="container center pt-5">
    <h1>Menu admnistrador</h1>
    <table>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/reservas_menu.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Listado de traspasos</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a [routerLink]="['/consultas']" class="btn btn-info">Ver traspasos</a>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/reservas_menu.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Modificacion y eliminacion de consultas</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a [routerLink]="['/consultas']" class="btn btn-info">Ver solicitudes</a>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/reservar_consulta.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Reservas solicitadas</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a [routerLink]="['/registrar-reserva']" class="btn btn-info">Administrar reservas</a>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a [routerLink]="['/consultas']" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>    
            </td>
        </tr>
    </table>
</div>